@{
    Layout = "~/Views/GeneralLayout.cshtml";
    ViewData["Title"] = "Localities";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" href="/Localities/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                County
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="localityBody">
       
    </tbody>
</table>

<script id="locality-template" type="text/x-handlebars-template">
    <tr>
        <td>
            {{Name}}
        </td>
        <td>
            {{County}}
        </td>
        <td>
            <a href="/Localities/Edit/{{Id}}">Edit</a>
            
        </td>
        <td>
            <a class="needConfirmation" href="/Localities/Delete/{{Id}}">Delete</a>
        </td>

    </tr>

</script>
<script src="~/js/LocalityIndex.js"></script>