@model Proiect_DAW.Models.ProfileModels.PhotoModel

@using (Html.BeginForm("AddPhoto", "Profile", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return checkForm(this);" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true);
   
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="divPreviewPhoto">
                    <img src="#" id="imgPreview" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label for="Binar" id="butonAdaugarePoza">Add a photo</label>
                <input type="file" name="Binar" id="Binar" class="form-control" hidden />

            </div>
            <input type="number" name="AlbumId" id="AlbumId" value="@Model.AlbumId" hidden />



            <div class="form-group col-md-2">
                <input name="submit" type="submit" value="Create" class="btn btn-primary" />
            </div>




        </div>
    </div>
}